body{
    margin: 0;
    padding: 0;
}

.body{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
}

/* OUTER ROUNDED BOX */
.outer-box {
    background-color: #f2f2f2;
    width: 350px;
    padding: 20px;
    border-radius: 40px;
}

/* INNER ROUNDED BOX */
.inner-box {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

/* IMAGE AREA */
.image-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-box img {
    width: 100%;
    border-radius: 20px;
}

/* TEXT AREA */
.text-box {
    font-size: 22px;
    font-family: "Coolvetica", sans-serif;
    letter-spacing: 1px;
}


