---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import TrustedBy from "../components/TrustedBy.astro";
import FAQ from "../components/FAQ.astro";
import Team from "../components/Team.astro";
import ClientReviews from "../components/ClientReviews.astro";
import BookCall from "../components/BookCall.astro";
import Portfolio from "../components/Portfolio.astro";
import Pricing from "../components/Pricing.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Cinemora Studios | Creative & Digital Agency"
  description="Cinemora Studios is a premier video marketing agency helping elite coaches and founders generate millions in pipeline revenue. US & Global Operations."
>
  <Navbar />
  <main>
    <Hero />
    <TrustedBy />
    <Portfolio />
    <FAQ />
    <Team />
    <ClientReviews />
    <Pricing />
    <BookCall />
  </main>
  <Footer />
</Layout>
