---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import TrustedBy from "../components/TrustedBy.astro";
import FAQ from "../components/FAQ.astro";
import AboutCEO from "../components/AboutCEO.astro";
import Portfolio from "../components/Portfolio.astro";
import Difference from "../components/Difference.astro";
import CaseStudies from "../components/CaseStudies.astro";
import SuccessStories from "../components/SuccessStories.astro";
import Testimonials from "../components/Testimonials.astro";
import SEOContent from "../components/SEOContent.astro";
import BookCall from "../components/BookCall.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Cinemora Studios | Premium Content Systems">
  <Navbar />
  <main>
    <div class="hero-trustedby-bg">
      <Hero />
      <TrustedBy />
    </div>
    <FAQ />
    <AboutCEO />
    <Portfolio />
    <Difference />
    <CaseStudies />
    <SuccessStories />
    <Testimonials />
    <SEOContent />
    <BookCall />
  </main>
  <Footer />
</Layout>
