<<<<<<< HEAD
---
const { class: className = "" } = Astro.props;
---

<div class={`site-bg ${className}`} aria-hidden="true"></div>
=======
---
const { class: className = "" } = Astro.props;
---

<div class={`site-bg ${className}`} aria-hidden="true"></div>
>>>>>>> a879ffcc169a2c1d99ffe71415da1c89eb53fdd2
