---
import "../styles/global.css";
import Background from "../components/Background.astro";

const { title = "Cinemora Studios" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>

  <body class="min-h-screen text-white">
    <Background />
    <slot />
  </body>
</html>
